.blacktop{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: .9rem;

    &.textOpacity{
        color: lighten(#000000, 50);
        margin-right: 1rem;
    }
}

.subnav{
    font-size: 1rem;
    transition: .1s ease-out;

    &_menu{
        &:hover::after{
            display: block;
            content: "";
            margin-bottom: -4px;
            width: 100%;
            height: 4px;
            background: black;
            transition: .1s ease-in;
        }

    }

}

.icons_top{
    font-weight: bold;
}

.nav-link{
    color: black !important;
}

.logo{
    margin: 0 auto;
    padding: 0 auto;
}

.logo img{
    width: 200px;
}

.menunav{
    height: 40px;

    &::before{
        content: "";
        width: 100%;
        height: 10px;
        background-color: black;
    }

    &__itens li{
       @extend .subnav_menu;
    }
}

hr{
    margin: 0 auto;
    padding: 0 auto;
    width: 100vw;
}
