<div class="fixed-top">
  <div class="blacktop d-none d-sm-block">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-9 col-sm-7 col-lg-9">
          <span class="blacktop__textOpacity">Mercado Artesão</span>
        </div>
        <div class="col-3 col-sm-4 col-lg-3">
          <span class="text-right">Criatividade em Artesanato</span>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light subnav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarText">
      <div class="col-12">
        <div class="row">
          <div class="container">
            <ul class="navbar-nav col-3">
              <li class="nav-item active subnav_menu">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item subnav_menu">
                <a class="nav-link" href="#">Preços</a>
              </li>
            </ul>
            <span class="logo col-6">
              <div class="d-flex justify-content-center">
                <img alt="logo text-center" src="../../../assets/images/logo.png">
              </div>
            </span>
            <span class="navbar-text icons_top col-3">
              <ul class="navbar-nav d-flex justify-content-end">
                <li>
                  <a class="nav-link" href="#">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a class="nav-link" href="C:\Users\edelu\loja-virtual-master\src\app\components\login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a class="nav-link" href="C:\Users\edelu\loja-virtual-master\src\app\components\crud">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </span>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-12 menunav">
        <div class="container">
          <ul class="nav justify-content-start menunav__itens">
            <li class="nav-item">
              <a class="nav-link" href="#">Bolsas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Brincos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Moda Casa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Calçado Infantil</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
